/*****  CSS Footer  *****/

#crooked-box {
    border: 1px rgb(147, 128, 122) solid;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    padding-bottom: 40px;
    padding-right: 20px;
    width: 350px;
    display: table;
    margin: 0 auto;
    margin-top: 30px!important;
    margin-right: 1.5vw !important;
}

#undo-crooked-box {
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.list-bullet-img {
    background: url(https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/%3E.png) no-repeat left 3px;
    padding-left: 20px;
    padding-top: 0px;
    background-size: 10px 15px;
    list-style: none;
    margin-top: 6px;
}

#graph-img {
    width: 100%;
}



@media (max-width: 620px) {
    #graph-img {
        width: 100%;
    }
}



@media (min-width: 1400px) {
    #footer-left-desc {
        transform: scale(1.1);
    }
    #conviction-div {
        transform: scale(1.2);
    }
}

@media (min-width: 1430px) {
    #footer-left-desc {
        transform: scale(1.1);
    }
    #conviction-div {
        transform: scale(1.3);
    }
}

@media (max-width: 1300px) {
    #crooked-box {
        border: 1px rgb(147, 128, 122) solid;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        padding-bottom: 40px;
        padding-right: 20px;
        width: 85%;
        display: table;
        margin: 0 auto;
        margin-top: 30px!important;
        margin-left: 8vw !important;
    }
}



@media (max-width: 1199px) {
    #graph-img {
        width: 80%!important;
    }
    #col-graph-footer {
        padding-left: 23vw!important;
    }
    #crooked-box {
        border: 1px rgb(147, 128, 122) solid;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        padding-bottom: 40px;
        padding-right: 20px;
        width: 350px;
        display: table;
        margin-top: 30px!important;
        margin-left: 33%!important;
    }
    #col-logo-footer {
        text-align: center;
    }
    #logo-footer {
        margin-left: 0px!important;
    }
}

@media (max-width: 1000px) {
    #graph-img {
        width: 100%!important;
    }
    #col-graph-footer {
        padding-left: 10vw!important;
    }
}

@media (max-width: 767px) {
    #DEC-footer {
        display: block;
        margin: 40px auto 0 auto;
    }

    .mobile_none {
        display: none;
    }

    #crooked-box {
        border: 1px rgb(147, 128, 122) solid;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        padding-bottom: 40px;
        padding-right: 20px;
        width: 350px;
        display: table;
        margin-left: 20%!important;
    }
    #footer {
        padding-left: 15px !important;
    }

    #bottom-footer-title {
        font-size: 4.2vw !important;
    }

    #col-graph-footer {
        padding-left: 20px !important;
    }
}

@media (max-width: 500px) {
    .no-mobile {
        display: none;
    }
    #crooked-box {
        border: 1px rgb(147, 128, 122) solid;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        padding-bottom: 20px;
        padding-right: 20px;
        width: 70vw;
        display: table;
        margin: 0 auto;
        margin-left: 15vw !important;
    }

    #undo-crooked-box {
        padding-top: 30px;
        padding-left: 10px;
        text-align: center;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    .list-bullet-img {
        background: url(https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/%3E.png) no-repeat left 3px;
        padding-left: 10px;
        padding-top: 0px;
        background-size: 6px 10px;
        list-style: none;
        margin-top: 6px;
    }

    .text-in-list {
        font-size: 3.2vw;
    }

    #conviction-list {
        font-size: 1.3vh;
        padding-left: 20px;
    }
}
