/*****  CSS Footer  *****/

#crooked-box {
    border: 1px rgb(147, 128, 122) solid;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    padding-bottom: 40px;
    padding-right: 20px;
    width: 350px;
    display: table;
    margin: 0 auto;
}

#undo-crooked-box {
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.list-bullet-img {
    background: url(https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/%3E.png) no-repeat left top;
    background-position: left top 6px;
    background-size: 10px 15px;
    padding: 3px 0px 3px 10px;
    list-style: none;
    margin-top: 5px;
}

.text-in-list {
    margin-top: -10px;
    margin-left: 10px;
}

@media (max-width: 620px) {
    #graph-img {
        width: 100%;
    }

}

@media (max-width: 500px) {
    #crooked-box {
        border: 1px rgb(147, 128, 122) solid;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        padding-bottom: 40px;
        padding-right: 20px;
        width: 85%;
        display: table;
        margin: 0 auto;
        margin-left: 40px !important;
    }

    #conviction-list {
        font-size: 2.6vw;
    }
}

@media (min-width: 1400px) {
    #footer-left-desc {
        transform: scale(1.1);
    }
    #conviction-div {
        transform: scale(1.2);
    }
}

@media (min-width: 1430px) {
    #footer-left-desc {
        transform: scale(1.1);
    }
    #conviction-div {
        transform: scale(1.3);
    }
}

@media (max-width: 767px) {
    #DEC-footer {
        display: block;
        margin: 40px auto 0 auto;
    }

    #footer {
        padding-left: 15px !important;
    }

    #bottom-footer-title {
        font-size: 4.2vw !important;
    }

    #col-graph-footer {
        padding-left: 20px !important;
    }
}

@media (max-width: 1199px) {
    #col-logo-footer {
        text-align: center;
    }
    #logo-footer {
        margin-left: 0px!important;
    }
}
