#header {
    position: relative;
    height: 100vh;
    min-height: 640px;
    background-color: rgba(189, 215, 200, .3);
    padding: 87px 0 0;
}

.navigation {
    position: fixed;
    z-index: 998;
    width: 100%;
    padding: 20px 50px;
    transition: .25s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    display: none;
    transition: .25s;
}
.socials .social-link {
    margin: 0 5px;
}
.socials .social-link img {
    width: 50px;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
    transition: .25s;
}

.btn.btn-donate {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #E94A34;
    color: white;
    right: 50px;
    border-radius: 0;
    min-width: 300px;
    transition: .25s;
    font-family: "Overlock", sans-serif;
    padding: 6px;
}
.btn.btn-donate:hover {
    background-color: #d8402b; 
}
.btn.btn-donate .top {
    font-weight: bold;
    font-size: 22px;
}
.btn.btn-donate .bottom {
    font-size: 14px;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#header h1 {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    margin: 0 0 20px;
    color: #000000;
}
#header h1 span {
    color: #029C9B;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

center{
    text-align: center;
}

.header-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);;
}
.videowrapper { 
    float: none;
    clear: both;
    width: calc(45vw);
    max-width: 850px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 850px;
    max-height: 100%;
    box-shadow: 0 50px 25px -30px rgba(0, 0, 0, .5);
}

.no-mobile {
    display: block;
}
.mobile {
    display: none;
}
.arrow-down {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 140px;
    height: 50px;
    bottom: 20px;
    transition: .20s;
}
.arrow-down:hover {
    transform: scale(1.1)
}

#subheader h2, #subheader h2 .bigger {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #A58E89;
    line-height: 40px;
    font-size: 36px;
    text-transform: none;
}
#subheader h2 .bigger {
    font-size: 40px;
    font-weight: 600;
}
#subheader h2 span {
    color: #E94A34;
    text-transform: uppercase;
}

.p-0 {
    padding: 0 !important;
}

@media (max-width: 992px) {
    .navigation {
        background-color: white;
        padding: 10px 20px;
    }
    
    .logo {
        width: 110px;
    }

    .logo img {
        width: 100%;
        height: 57px;
    }
    
    .socials {
        top: 18px;
        display: none;
    }
    .socials .social-link img {
        width: 45px;
    }
    
    .btn.btn-donate {
        min-width: 170px;
        top: 12.5px;
        right: 10px;
    }
    .btn.btn-donate .top {
        font-size: 16px;
    }
    .btn.btn-donate .bottom {
        font-size: 10px;
    }
    
    #header h1 {
        padding: 0 10px;
        font-size: 28px;
    }
    #header h1 span {
        font-size: 28px;
        font-weight: 900;
    }
    #header h1.mobile {
        margin: 50px 0 0;
    }
    
    #subheader h2 {
        font-size: 27px;
        line-height: 32px;
        font-weight: 900;
    }
    #subheader h2 span {
        font-size: 27px;
    }
    .arrow-down {
        bottom: 100px;
    }
    .header-title-container {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0,0);;
    }
}

@media (max-width: 720px) {
    .video-header {
        margin: 10px 0 0;
        width: 100%;
        padding: 0 20px;
    }
    .videowrapper {
        width: 100%;
        /* margin: 0 10px; */
    }
    .arrow-down {
        margin: 15% auto 0;
    }
    .no-mobile {
        display: none;
    }
    .mobile {
        display: block;
    }
}

.social-link:hover, .social-link:focus {
    text-decoration: none;
}

.rs-img {
    transition: .20s;
}
.rs-img:hover {
    opacity: 0.9;
}

@media (min-width: 1200px) {
    #header h1 {
        padding: 0 10px;
        font-size: 38px;
    }
    #header h1 span {
        font-size: 42px;
    }
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}