/*****  CSS Header  *****/

#div-don-header {
    text-align: center;
    height: 50px;
    width: 300px;
    display: table;
    margin: 40px 0 20px 0;
    right: 40px;
}

.btSubTitle {
    display: block;
    margin-bottom: -1.2em;
}

#text-don-header {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;
}

#logo-lilot-header {
    padding: 20px;
    height: 120px;
}

#top-header {
    width: 102vw;
    position: initial;
}

#col-imgHeader1 {
    background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/img1-Header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    z-index: 1;
}

#title-header {
    width: 100vw;
    color: white;
    font-size: 6vw;
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/Rectangle-Header.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

@media (max-width: 1050px) {
    #div-don-header {
        text-align: center;
        height: 50px;
        width: 200px;
        display: table;
        margin: 40px 0 20px 20px;
    }

    #text-don-header {
        display: table-cell;
        vertical-align: middle;
        font-size: 17px;
        font-weight: 900;
    }
    #top-header {
        width: 102vw;
    }
}

@media (max-width: 767px) {

    #logo-lilot-header {
        padding: 20px;
        width: 80%;
        height: 100%;
    }

    .btSubTitle {
        display: block;
        margin-bottom: -0.7em;
    }

    #title-header {
        width: 100vw;
        color: white;
        font-size: 6.5vw;
        position: absolute;
        bottom: 0px;
        padding-bottom: 15px;
        padding-top: 100px !important;
        text-align: center;
        background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/lilot/Lilot-LP-2019/Rectangle-Header.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 3;
    }

    #col-social-header {
        display: none !important;
    }

    #col-logo-lilot-header {
        display: flex;
        justify-content: center;
    }

    #div-don-header {
        text-align: center;
        height: 40px;
        width: 90%;
        display: table;
        margin: 55px auto 10px auto;
    }

    #top-header {
        width: 103vw;
    }


    #text-don-header {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 540px) {
    #logo-lilot-header {
        padding: 20px;
        width: 80%;
        height: 100%;
    }

    #top-header {
        width: 105vw;
    }

    #div-don-header {
        text-align: center;
        right: 20px!important;
        height: 40px;
        width: 90%;
        display: table;
        margin: 16% auto 10px auto;
    }
}

@media (max-width: 400px) {
    #div-don-header {
        text-align: center;
        height: 10vw;
        width: 70%;
        display: table;
        margin: 12% auto 10px auto;
    }
}

@media (max-width: 300px) {
    #div-don-header {
        text-align: center;
        height: 10vw;
        width: 70%;
        display: table;
        margin: 10% auto 10px auto;
    }
}
