/*****  CSS Header  *****/

#div-don-header {
    text-align: center;
    height: 50px;
    width: 300px;
    display: table;
    margin: 40px 0 20px 0;
    right: 0px;
}

#text-don-header {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

#logo-lilot-header {
    padding: 20px;
    height: 120px;
}

#top-header {
    width: 102vw;
}

@media (max-width: 1050px) {
    #div-don-header {
        text-align: center;
        height: 50px;
        width: 200px;
        display: table;
        margin: 40px 0 20px 20px;
    }

    #text-don-header {
        display: table-cell;
        vertical-align: middle;
        font-size: 17px;
        font-weight: bold;
    }
    #top-header {
        width: 102vw;
    }
}

@media (max-width: 767px) {

    #logo-lilot-header {
        padding: 20px;
        width: 80%;
        height: 100%;
    }

    #col-social-header {
        display: none !important;
    }

    .text-header {
        bottom: 15px!important;
    }

    #col-logo-lilot-header {
        display: flex;
        justify-content: center;
    }

    #div-don-header {
        text-align: center;
        height: 40px;
        width: 90%;
        display: table;
        margin: 40px auto 10px auto;
    }

    #top-header {
        width: 103vw;
    }

    #text-don-header {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 540px) {
    #logo-lilot-header {
        padding: 20px;
        width: 80%;
        height: 100%;
    }

    #top-header {
        width: 105vw;
    }

    #div-don-header {
        text-align: center;
        height: 40px;
        width: 90%;
        display: table;
        margin: 15% auto 10px auto;
    }
}
