/*****  CSS Stats  *****/

.center-all {
    text-align: center;
}

.center-img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.TEM-img {
    width: 100%;
    z-index: 1;
}

.div-text-desc {
    background-color: rgba(18, 49, 109, 0.7);
    height: 100%;
    width: 53%;
    z-index: 2;
    position: absolute;
    top: 0px;
    text-align: left;
    padding: 15px;
    line-height: 100%;
}

.text-desc {
    line-height: normal;
    font-size: 1.1vw;
}

.nom-fonction {
    line-height: 1vw;
    font-size: 0.9vw;
}

.bold-desc {
    font-size: 1.2vw;
}

.text-desc-div {
    margin-top: 25px;
}

/*.text-desc-div {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}*/

.desc-col-left {
    margin-top: 20px;
    text-align: center;
    padding: 0 15px 0 40px !important;
}

.desc-col-right {
    margin-top: 20px;
    text-align: center;
    padding: 0 40px 0 15px !important;
}

@media (max-width: 1199px) {
    .desc-col-left {
        margin-top: 20px;
        text-align: center;
        padding: 0 0 0 0 !important;
    }

    .desc-col-right {
        margin-top: 20px;
        text-align: center;
        padding: 0 0 0 0 !important;
    }
}

@media (max-width: 767px) {
    .desc-col-left {
        margin-top: 20px;
        text-align: center;
        height: 90vw;
        padding: 0 40px 0 40px !important;
    }

    .TEM-img {
        height: 90vw;
        z-index: 1;
    }

    .mobile_none {
        display: none;
    }

    #TEM-Vert {
        background-color: rgba(00, 156, 155, 0.75) !important;
    }

    #TEM-Beige {
        background-color: rgba(147, 128, 122, 0.75) !important;
    }

    .div-text-desc {
        background-color: rgba(18, 49, 109, 0.75);
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        top: -100%;
        text-align: left;
        padding: 15px;
        padding-top: 20px!important;
        line-height: 100%;
    }

    .text-desc-div {
        margin-top: 10px;
    }

    .desc-col-right {
        margin-top: 20px;
        text-align: center;
        height: 90vw;
        padding: 0 40px 0 40px !important;
    }

    .text-desc {
        font-size: 4vw;
    }

    .nom-fonction {
        line-height: 3vw;
        font-size: 3vw;
    }

    #text-stats {
        font-size: 2vw;
    }

    .bold-desc {
        font-size: 3.4vh;
    }

    #source {
        padding-left: 40px!important;
    }
}

@media (max-width: 500px) {
    .desc-col-left {
        margin-top: 20px;
        text-align: center;
        height: 90vw;
        padding: 0 20px 0 20px !important;
    }

    .TEM-img {
        height: 90vw;
        z-index: 1;
    }

    .div-text-desc {
        background-color: rgba(18, 49, 109, 0.7);
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        top: -100%;
        text-align: left;
        padding: 15px;
        padding-top: 20px!important;
        line-height: 100%;
    }

    .text-desc-div {
        margin-top: 0px;
    }

    .desc-col-right {
        margin-top: 20px;
        text-align: center;
        height: 90vw;
        padding: 0 20px 0 20px !important;
    }

    .text-desc {
        font-size: 4vw;
    }

    .nom-fonction {
        line-height: 3.5vw;
        font-size: 3.5vw;
    }

    #text-stats {
        font-size: 2.2vw;
    }



    #source {
        padding-left: 40px!important;
    }
}
